# 使用国内镜像加速 electron 与 electron-builder 二进制下载（规避慢速官方源/网络超时）
electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
registry=https://registry.npmmirror.com